<%- include("header.ejs") %>

<ul class="blogs">
    <% if(blogs.length === 0){ %>
        <div class="card">
            <div class="card-body">
                Welcome to Blogs
            </div>
        </div>
    <%} else { %>
        <%for (var i=0;i<blogs.length;i++){ %>
            <li class="blogList">
                <div class="card">
                    <div class="card-body">
                        <a href="/<%= i %>"><%= blogs[i].title %></a>
                    </div>
                </div>
            </li>
        <%} %>
    <%}%>
</ul>
<%- include("footer.ejs") %>