body {
    padding-left: 20px;
    padding-right: 20px;
}

ul {
    list-style: none;
}

.blogList {
    margin-top: 5vh;
}

a {
    text-decoration: none;
    color: inherit;
}

.blogs {
    padding-left: 25vw;
    margin-top: 5vh;
}

.card {
    width: 50vw;
}

.card-body {
    margin: 0 auto;
}

.collapse {
    justify-content: right;
}

.nav-item {
    padding-right: 20px;
}

form {
    width: 50vw;
    margin-left: 25vw;
}

.btn {
    width: 50%;
    display: block;
    margin: 0 auto;
}

.form-group {
    padding: 30px;
}

.form-control {
    margin-top: 10px;
}

.blogContent {
    width: 50vw;
    margin: 0 auto;
}

.blogContent h1 {
    text-align: center;
    margin-top: 5vh;
}

.blogContent p {
    margin-top: 5vh;
}

.blogContent div {
    text-align: end;
    padding-right: 10%;
}

.form-group textarea{
    white-space: pre-line;
}

@media (max-width: 479px){
    body {
        width: 80vw;
        margin-left: 10vw;
    }
}